.head{
  text-align: center;
  padding: 50px;
  float: right;
}
/* .container{
  background-color: white;
} */
.box1{
  padding: 150px;
  padding-bottom: 300px;
  border: 1px solid;
  margin: 50px;
  float: none;
}
body{
  /* background-color: gray; */
  padding: 20px;
}
.search{
 padding: 70px;
 color: blue;
 float: right;
}
