body{
  background-color: gray;
  min-height: 750px;
  padding: 20px;
}
.container{
  background-color: silver;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 600px

}
h1{
  font-family: "Algerian", Times, serif;
}
.b1{
  background-color: #4FA2D9;
  border-radius: 25px;
}
